.main {
  height: 89vh;
  background-color: #ccc; /* фон на случай просветов */
}

.gridContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}