.footer {
  height: 6vh;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}
@media (max-width: 800px) {
  .footer {
    height: auto;
    min-height: 10vh;
    padding: 10px 0;
  }
  
  .container {
    font-size: 0.7rem;
    padding: 0 10px;
  }
}